.img {
    width: 250px;
    border: double 10px lightblue;
    display: flex;
    margin: auto;
    border-radius: 20px;
}

@font-face {
    src: url("EagleHorizonP.ttf");
    font-family: EagleHorizonP;
}

ul {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px 300px;
    padding: 0;
    color: #1d1d1d;
}

h2 {
    font-family: EagleHorizonP;
    margin-top: 50px;
    color: #1d1d1d;
    text-align: center;
    font-size: 30px;
}

body {
    background-color: #f0f8ff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin: 20px 100px;
}