body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid #417193;
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    margin-top: 5px;
    color: white;
    background-color:  #417193;
    border: none;
    padding: 8px 20px;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
  background-color: #4ab9bf; 
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}